.extender {
    flex-grow: 1;
}

.console {
    white-space: pre-wrap;
    background-color: rgb(from white r g b / 0.5);
    height: 100%;
    padding: 4px;
}

.hidden {
    display: none;
}

button {
    margin: 3px;
    padding: 2px 10px;
}